/*disable direction input field*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

#number{
    border-radius: 25px;
    background-color: #181818; 
    color: aliceblue;   
}
#add_btn{

}
#send_btn{

}
#restart_btn{

}
body{
  display: flex;
  text-align: center;
  justify-content: center;
}
.pad{
  padding: 18px 18px;
  border-radius: 4px;
}

div.container{
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 3px 3px 10px  #181818, -3px -3px 10px  #181818;
  border-radius: 10px;
  background: rgb(201,0,255);
  background: linear-gradient(42deg, rgba(201,0,255,0.5606617647058824) 0%, rgba(0,172,255,1) 50%, rgba(255,0,0,0.48503151260504207) 100%);

}
h1{
  font-size: 0.9em;
}
.footer{
  margin-top: 10px;
}
